/* Đặt lại margin và padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Giới hạn tối đa */
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 85vh; /* Chiếm 85% màn hình */
  background-color: #000;
  border: 2px solid #fff;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

button {
  padding: 15px 25px;
  font-size: 24px;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  background-color: #666;
}
